html,
body {
  background: #C5CAE9;
  height: 100%;
  min-height: 100%;
}

.auth-panel{
  background-color: white;
  border: 1px solid gray;
  border-radius: 35px;
  padding: 20px 0;
  margin: 150px auto 0 auto;
  width: 50%;
}

.md-block{
  margin: 0 auto;
  font-size: 90%;
  width: 80%;  
}

.login-button {
  display: block;
  width: auto;
  margin: 10px auto;
}

.logo {
  width: 100%;
  text-align: center;
}

