html,
body {
  background: #C5CAE9;
  height: 100%;
  min-height: 100%;
}

.md-button {
  &.login-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    margin: 0 0 0 -44px;
  }
}

.logo {
  width: 100%;
  text-align: center;
}

