<social-navbar></social-navbar>

<div class="wrapper" >
  <div class="user-avatar">
    <img width="40%" ng-src='{{ profile.user.avatar }}' />
  </div>

  <h1 class="greeting"><p>Hi, {{ profile.user.firstName + " " + profile.user.lastName }}!</p></h1>

  <ang-accordion  one-at-a-time="true" icon-position="right" close-icon-url="assets/images/right-icon.png" open-icon-url="assets/images/down-icon.png">


    <collapsible-item item-title="FIRST NAME: {{profile.user.firstName}}">
          <md-input-container class="input">
            <!--label>NAME:</label-->
            <input ng-model="profile.user.firstName">
          </md-input-container>
      </collapsible-item>

    <collapsible-item item-title="LAST NAME: {{profile.user.lastName}}">
          <md-input-container class="input">
            <!--label>NAME:</label-->
            <input ng-model="profile.user.lastName">
          </md-input-container>
      </collapsible-item>

      <collapsible-item  item-title="AGE: {{profile.user.age}}">
          <md-input-container>
            <!--label>AGE:</label-->
            <input  type="number" min="5" max="150"  ng-model="profile.user.age">
          </md-input-container>
      </collapsible-item>

    <collapsible-item item-title="GENDER: {{profile.user.gender}}">
      <div class="selecteGender">

        <md-input-container class="md-block"  flex-gt-sm>
              <!--label>Selected gender: {{profile.user.gender}}</label-->
              <md-select ng-model="profile.user.gender">
                <md-option  ng-repeat="gender in profile.genders" value="{{ gender }}">
                  {{ gender }}
                </md-option>
              </md-select>
            </md-input-container>
      </div>
      </collapsible-item>
  </ang-accordion>

  <md-button ng-click="profile.save()" class="md-raised md-primary">Save</md-button>
  <span>{{ profile.message }}</span>

</div>  